[preset.0]

name="Android"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="*.json"
exclude_filter="tests/*"
export_path="vraeroscan.apk"

[preset.0.options]

; Gradle build: required for the VitureGlasses plugin.
gradle_build/use_gradle_build=true
gradle_build/export_format=0
gradle_build/min_sdk=""
gradle_build/target_sdk=""
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
package/unique_name="org.vraeroscan.app"
package/name="VRAeroScan"
launcher_icons/main_192x192="res://icons/main_192.png"
launcher_icons/adaptive_foreground_432x432="res://icons/foreground.png"
launcher_icons/adaptive_background_432x432="res://icons/background.png"
launcher_icons/adaptive_monochrome_432x432="res://icons/monochrome.png"
package/signed=true
screen/immersive_mode=true
; adsb.lol over HTTPS.
permissions/internet=true
